---
import Base from "../layouts/Base.astro";
---

<Base title="404">
    <div class="mx-auto m-8 text-center">
        <h1 class="text-6xl md:text-9xl m-4">404</h1>
        <a href="/" class="underline">Back to home</a>
    </div>
</Base>
