---
import Base from "../layouts/Base.astro";
import data from "../data.json";
import { Debug } from "astro:components";
import Ying from "../components/Ying";
import Row from "../components/Row";

// parse date into UTF+8
const lastUpdated = new Date(parseInt(data.lastUpdated));

type Area = {
    name: string;
    subareas: SubArea[];
};

type SubArea = {
    name: string;
    ok: boolean;
};

// group by their area id
const areaMap = new Map<
    number,
    { id: number; name: string; subAreas: SubArea[] }
>();

for (const area of data.data) {
    const { areaId, areaName, subAreaId, subAreaName, flvAvailable } = area;
    var areaObj = areaMap.get(areaId);
    if (!areaObj) {
        areaObj = {
            id: areaId,
            name: areaName,
            subAreas: [],
        };
        areaMap.set(areaId, areaObj);
    }
    areaObj.subAreas.push({
        name: subAreaName,
        ok: flvAvailable,
    });
}

// sort by area id ascending
const areas: Area[] = Array.from(areaMap.values())
    .sort((a, b) => a.id - b.id)
    .map((area) => ({
        name: area.name,
        subareas: area.subAreas,
    }));
---

<Base title="Are we HLS yet?">
    <div class="mx-auto my-4 p-4 max-w-prose text-center">
        <h1 class="font-bold text-5xl py-12">
            Are
            <ruby>we<rp>(</rp><rt>录播姬</rt><rp>)</rp></ruby>
             HLS yet?
        </h1>
        <p class="font-bold text-4xl text-red-500">NOPE</p>
    </div>
    <div class="mx-auto max-w-prose p-4 my-4 text-center">
        <h2 class="text-4xl">寄了吗？</h2>
        <p class="text-slate-500 my-2">
            更新时间：{
                lastUpdated.toLocaleString("zh-CN", {
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                    hour: "numeric",
                    minute: "numeric",
                    timeZone: "Asia/Shanghai",
                })
            }
        </p>
        <Ying client:load />
        {
            areas.map((area) => (
                <div class="my-2">
                    <details class="py-4" open>
                        <summary class="text-3xl underline underline-offset-4 hover:cursor-pointer">
                            <h3 class="inline text-3xl">{area.name}</h3>
                        </summary>
                        <div class="w-full my-4 border-collapse border border-slate-500">
                            {area.subareas.map((subarea) => (
                                <Row ignore={!subarea.ok} client:load>
                                    <div class="flex">
                                        <div class="text-2xl p-2 border border-slate-600 flex-1">
                                            {subarea.name}
                                        </div>
                                        <div class="text-2xl w-14 p-2 border border-slate-600">
                                            <span
                                                class:list={[
                                                    "after:content-['!']",
                                                    subarea.ok
                                                        ? "text-green-500"
                                                        : "text-red-500",
                                                ]}
                                            >
                                                {subarea.ok ? "赢" : "寄"}
                                            </span>
                                        </div>
                                    </div>
                                </Row>
                            ))}
                        </div>
                    </details>
                </div>
            ))
        }
    </div>
</Base>
